.footer {
  background-color: var(--accent-color-light);
  font-size: 20px;
  color: var(--bg-color-light);
}

h4 {
  font-weight: normal;
}

a {
  color: var(--bg-color-light);;
}

@media screen and (prefers-color-scheme: dark) {
  .footer {
    background-color: var(--accent-color-dark);
    color: var(--text-color-dark);
  }

  a {
    color: var(--text-color-dark);
  }
}
