.header {
  background-color: var(--accent-color-light);
  min-height: 100px;
  color: var(--bg-color-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#icon {
  width: 60px;
  position: absolute;
  top: 20px;
  left: 20px;
}

@media screen and (prefers-color-scheme: dark) {
  .header {
    background-color: var(--accent-color-dark);
    color: var(--text-color-dark);
  }

  #icon {
    opacity: 77%;
  }
}
