.card {
  display: flex;
  align-items: center;
  border-style: solid;
  border-width: 1px 0 0 0;
  padding: 5% 0;
}

.card:first-child {
  border-style: none;
}

.cardImage {
  max-width: 100px;
  vertical-align: middle;
}

.image {
  flex: 20%;
}

.description {
  flex: 80%;
  margin: 0 5%;
}

.title {
  font-size: 20px;
  padding: 10px;
}

.moreInfo {
  font-family: 'Montserrat', Arial, monospace;
  padding: 10px;
}

.ReactModal__Body--open {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  overflow: auto;
  border-radius: 10px;
  padding: 20px;
}

.modalOverlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.1);
}

.modalInfo {
  text-align: center;
}

.score {
  font-weight: bold;
}

.great {
  color: green;
}

.good {
  color: limegreen;
}

.ok {
  color: gold;
}

.bad {
  color: orange;
}

.awful {
  color: red;
}
