@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html {
  --text-color-light: black;
  --text-color-dark: #ccc;
  --bg-color-light: white;
  --bg-color-dark: #181818;
  --accent-color-light: #013d5b;
  --accent-color-dark: #222;
  --border-color-light: #aaa;
  --border-color-dark: #333;
  --search-color-light: #e8e8e8;
  --search-color-dark: #181818;
}

body {
  margin: 0;
  font-family: 'Montserrat', Arial, sans-serif;
  background-color: var(--accent-color-light);
}

@media screen and (prefers-color-scheme: dark) {
  body {
    background-color: var(--accent-color-dark);
  }
}
